[submodule "Replace"]
	path = Replace
	url = https://github.com/MrLarkyy/Replace.git
[submodule "KMenu"]
	path = KMenu
	url = https://github.com/MrLarkyy/KMenu.git
[submodule "Stacked"]
	path = Stacked
	url = https://github.com/MrLarkyy/Stacked.git
[submodule "KRegistry"]
	path = KRegistry
	url = https://github.com/MrLarkyy/KRegistry.git
[submodule "Pakket"]
	path = Pakket
	url = https://github.com/MrLarkyy/Pakket.git
[submodule "Execute"]
	path = Execute
	url = https://github.com/MrLarkyy/Execute.git
[submodule "Kommand"]
	path = Kommand
	url = https://github.com/MrLarkyy/Kommand.git
[submodule "KEvent"]
	path = KEvent
	url = https://github.com/MrLarkyy/KEvent.git
[submodule "AquaticCommon"]
	path = AquaticCommon
	url = https://github.com/MrLarkyy/AquaticCommon.git
[submodule "Kurrency"]
	path = Kurrency
	url = https://github.com/MrLarkyy/Kurrency.git
[submodule "KLocale"]
	path = KLocale
	url = https://github.com/MrLarkyy/KLocale.git
[submodule "Blokk"]
	path = Blokk
	url = https://github.com/MrLarkyy/Blokk.git
